extends layout
block css_includes
    link(rel='stylesheet', href='/stylesheets/decay.css')

block content
    div.container.loading
    div.container.main(hidden="true")
        h2.decay-title Diwata-1 - Orbital Decay Report
        br
        div.row
            div.col-md-12.decay-results-table
        div.row
            div.col-md-12
                h3.decay-title
                    | Time vs. Altitude Graph
                div#decay-graph

    script(src='/bower-components/leaflet/dist/leaflet.js')
    script(src='/bower-components/jquery/dist/jquery.min.js')
    script(src='/bower-components/moment/min/moment.min.js')
    script(src='/bower-components/moment-timezone/builds/moment-timezone-with-data.min.js')
    script(src='/bower-components/mustache.js/mustache.min.js')
    script(src='http://canvasjs.com/assets/script/canvasjs.min.js')
    script(src='/javascripts/decay.js')
