<ul class="list-group">
    <li class="list-group-item">
        <div class="row">
            <div class="col-md-12"><b>Decay Altitude</b><br/> {{decay_altitude}}</div>
        </div>
    </li>
    <li class="list-group-item">
        <div class="row">
            <div class="col-md-6"><b>Projected End of Lifetime (PHT):</b><br />{{projected_eol}}</div>
        </div>
    <li class="list-group-item">
        <div class="row">
            <div class="col-md-6"><b>Altitude at End of Lifetime:</b><br />{{altitude_at_eol}} km</div>
        </div>
    </li>
</ul>
