<ul class="list-group">
    <li class="list-group-item">
        <div class="row">
            <div class="col-md-3"><b>Simulation Time (PHT):</b></div>
            <div class="col-md-9">{{simulation_time}}</div>
        </div>
    </li>
    <li class="list-group-item">
        <div class="row">
            <div class="col-md-3"><b>Norad Catalog Number:</b></div>
            <div class="col-md-9">41463</li></div>
        </div>
    <li class="list-group-item">
        <div class="row">
            <div class="col-md-3"><b>International Designator:</b></div>
            <div class="col-md-9">1998-067HT</div>
        </div>
    </li>
</ul>

<ul class="list-group">
    <li class="list-group-item">
        <div class="row">
            <div class="col-md-3"><b>TLE Epoch (UTC):</b></div>
            <div class="col-md-9">{{tle_epoch}}</div>
        </div>
    </li>
    <li class="list-group-item">
        <div class="row">
            <div class="col-md-3">
                <b>NORAD TLE:</b>
            </div>
            <div class="col-md-9">
<pre>
DIWATA-1
{{tle1}}
{{tle2}}
</pre>
            </div>
        </div>
    </li>
</ul>

<ul class="list-group">
    <li class="list-group-item">
        <div class="row">
            <div class="col-md-3"><b>Decay Altitude:</b></div>
            <div class="col-md-9">{{decay_altitude}}</div>
        </div>
    </li>
    <li class="list-group-item">
        <div class="row">
            <div class="col-md-3"><b>Projected End of Lifetime (PHT):</b></div>
            <div class="col-md-9">{{projected_eol}}</div>
        </div>
    <li class="list-group-item">
        <div class="row">
            <div class="col-md-3"><b>Altitude at End of Lifetime:</b></div>
            <div class="col-md-9">{{altitude_at_eol}} km</div>
        </div>
    </li>
</ul>



