<table class='table table-bordered table-hover pass-table-summary'>
    <tr>
        <th>Rise Time (PHT)</th>
        <th class="hidden-xs hidden-sm hidden-md">Max Alt. Time (PHT)</th>
        <th class="hidden-xs">Set Time (PHT)</th>
        <th>Duration</th>
    </tr>
    {{#passes}}
    <tr>
        <td>{{rise_time}}</td>
        <td class="hidden-xs hidden-sm hidden-md">{{max_altitude_time}}</td>
        <td class="hidden-xs">{{set_time}}</td>
        <td>{{duration}}</td>
    </tr>
    {{/passes}}
</table>
